*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px 0 50px;
}

.center h1{
  font-size: 36px;
}

.row{
  width: 400px;
}

.row form{
  display: flex;
  justify-content: space-between;
}

#todo-text{
  width: 80%;
  align-items: center;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
}

#add-todo{
  all: unset;
  background-color: green;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}

.container{
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.todo-box{
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  gap: 5px;
}

.todo-title{
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  /* margin-right: auto; */
}

.title, .todo-box img{
  padding: 3px 5px;
  cursor: pointer;
}

.title:hover, .todo-box img:hover{
  background-color: rgb(171, 170, 170, .1);
  border-radius: 5px;
}

.edite, .delete {
  cursor: pointer;
}

.modal {
  /* display: none; */
  width: 50%;
  margin: auto;
  position: fixed;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
}

.modal #todo-text{
  align-items: center;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.modal #add-todo{
  all: unset;
  background-color: green;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}

.bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  top: 0;
  left: 0;
  opacity: .8;
}